<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.bdsimtoolkitmdashikulislam.bdsimtoolkit">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Grameenphone"
            android:label="@string/title_activity_grameenphone"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Banglalink"
            android:label="@string/title_activity_banglalink"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Robi"
            android:label="@string/title_activity_robi"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Airtel"
            android:label="@string/title_activity_airtel"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Teletalk"
            android:label="@string/title_activity_teletalk"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Skitto"
            android:label="@string/title_activity_skitto"
            android:theme="@style/AppTheme.NoActionBar">

        </activity>
    </application>

</manifest>